<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-6">
      <div class="card rounded-0">
        <div class="card-body">
          <h4 class="card-title">Add New Skill</h4>          
          <%= render 'form', skill: @skill %>
        </div>
      </div>
    </div>
  </div>
</div>
