<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 col-xl-4 col-sm-4 col-12">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Register as Client", new_user_registration_path(account_type: "Client"), class: "btn btn-dark rounded-0 mb-3" %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-4 col-sm-4 col-12">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Register as Professional", new_user_registration_path(account_type: "Professional"), class: "btn btn-dark rounded-0 mb-3" %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-4 col-sm-4 col-12">
      <div class="card">
        <div class="card-body text-center">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Register as Both", new_user_registration_path(account_type: "Professional and Client"), class: "btn btn-dark rounded-0 mb-3" %>
        </div>
      </div>
    </div>
  </div>
</div>