<div class="container mt-5">
  <div class="row no-gutters">
    <div class="col-md-4 col-xl-4 col-sm-4 col-12">
      <div class="card mr-2 ml-2 mt-4">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Register as Client", new_user_registration_path(account_type: "Client"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-4 col-sm-4 col-12">
      <div class="card mr-2 ml-2 mt-4">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Register as Professional", new_user_registration_path(account_type: "Professional"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-xl-4 col-sm-4 col-12">
      <div class="card mr-2 ml-2 mt-4">
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <%= link_to "Register as Both", new_user_registration_path(account_type: "Professional and Client"), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>